* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header{
    display: flex;
    height: 80px;
    background-color: #000;
    align-items: center;
    position: sticky;
}
.header__ttl{
    width: 20%;
    display: flex;
}

.nav__link{
    color: #FFFFFF;
    font-size: 16px;
    margin-right: 30px;
    list-style: none;
    line-height: 1;
    background-color: none;
    text-decoration: none
}
.nav__link:hover{
    text-decoration: underline;
}
.nav__link:focus {
    outline: none;
}
.nav__btn{
    text-decoration: none;
    color: #FFFFFF;
}

.logout{
    background-color: #000;
    color: #FFFFFF;
    border: none;
    margin-right: 20px;
    font-size: 16px;
}
.logout:hover{
    text-decoration: underline;
}
.title{
    font-size: 36px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}
.form-group {
    text-align: left;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    max-width: 100%;
}
.btn{
    width: 100%;
    background-color: #FF5555;
    color: #FFFFFF;
    border: none;
    padding: 12px;
    border-radius: 3px;
    font-size: 26px;
    cursor: pointer;
    margin-top: 80px;
}
.btn:hover {
    opacity: 0.9;
}
.link{
    display: block;
    margin-top: 15px;
    font-size: 20px;
    color: #0073CC;
    text-decoration: none;
    text-align: center;
    width: 100%;
    }

.link:hover {
    text-decoration: underline;
    }

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 3px;
    }

@media (max-width: 768px) {
    .nav__item {
        font-size: 14px;
    }
    .nav__item2{
        font-size: 14px;
    }
    .search-input{
        font-size: 14px;
    }
}
