.request-form{
    width: 100%;

}
.row {
    display: grid;
    grid-template-columns: 250px 1fr;
    border-bottom: 3px solid #e6e6e6;
}
.row--last {
    border-bottom: none;
}
.cell {
    padding: 18px 200px 18px 18px;
}
.row__head {
    color: #666;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 30px 40px;
    font-weight: bold;
}
.cell.value {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 18px;
}
.text--bold {
    font-weight: 800;
}
.date {
    gap: 60px;
}
.date__item {
    min-width: 120px;
}
.input {
    height: 28px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background: #fff;
    font-size: 13px;
    outline: none;
}
.input--time {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.time__sep {
    color: black;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
}
.actions {
    display: flex;
    justify-content: flex-end;
}
.btn-gray{
    background: #696969;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 110px;
    font-size: 14px;
    font-weight: 800;
}
.time-character{
    font-weight: bolder;
}
.reason-character{
    font-weight: bolder;
}

@media (max-width: 768px) {
    .cell.head {
    color: #666;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 25px 20px;
    }
    .cell.value {
    display: flex;
    align-items: center;
    gap: 18px;
    }
}
