.tab {
  margin: 0 auto 18px;
  padding-top: 8px;
  display: flex;
  gap: 40px;
  text-align: left;
  position: relative;
}
.tab::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 1px;
  background: #333;
  opacity: 0.5;
}
.tab--label {
  font-size: 13px;
  color: #333;
  text-decoration: none;
  padding: 8px 10px 12px;
  position: relative;
}
.tab--label.is-active {
  font-weight: 700;
}
.tab--label.is-active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -11px;
  height: 2px;
  background: #333;
}
