body {
    background-color: #FFFFFF;
    margin: 0;
}

label {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    display: block;
    text-align: left;
    width: 100%;
}

input {
    height: 59px;
    width: 100%;
    margin-top: 10px;
}
.login-container{
    display: flex;
    justify-content: center;
}
.card{
    background-color: #FFFFFF;
    padding: 40px 60px;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    width: 60%;
}
@media (max-width: 768px) {
    .login-card {
        width: 90%;
        max-width: none;
        padding: 30px 20px;
    }
}
